html,body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.mainContainer
{
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


.leftHalf
{
    background-color: blueviolet;
    flex-direction: column;
    display: flex;
    width: 50%;
    height: 100%;
    position: relative;
    resize: both;
    overflow: auto;
}

.rightHalf
{
    background-color: white;
    flex-direction: column; 
    display: flex;
    width: 50%;
    height: 100%;
    position: relative;
    resize: both;
    overflow: auto;
}

#li1
{
    display: inline;
    padding: 4px;
    list-style-type: none;
    font-size: 2vh;
    font-family: fantasy;
    color: white;
}

#li2
{
    padding: 4px;
    list-style-type: none;
    font-size: 2vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

#li3
{
    padding: 4px;
    margin-left: 2px;
    list-style-type: none;
    font-size: 2vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
}

#li4
{
    padding: 4px;
    margin-left: 3px;
    list-style-type: none;
    font-size: 2vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}


#li1:hover
{
    color:tomato;
}

.colored
{
    color: orange;
}

.logo1
{
    height: auto;
    width: 20%;
}

.logo2
{
    height: auto;
    width: 20%;
}

.google
{
    padding-right: 10px;
}

.apple
{
    padding-right: 10px;
}

#part1
{
    position: absolute;
    top:0;
    left: 0;
}

#part2
{
    position: absolute;
    text-align: center;
    padding: 10px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
}

#part3
{
    position: absolute;
    bottom: 0;
    left: 0;
}


#part4
{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    resize: horizontal;
}

#para1
{
    color: white;
    text-align: center;
    font-size: 2vh;
    max-width: 280px;
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-height: 280px;
}

#para2
{
    text-align: center;
    line-height: 1.4;
    position: relative;
}

#para3
{
    font-weight: bold;
    text-decoration: none;
}

.ip
{
    outline: 0;
    border-width: 0 0 2px;
    border-color: lightgray;
    line-height: 30px;
    width: 100%;
    height: auto;
}

button
{
    background-color: blueviolet;
    height: 40px;
    width: 100%;
    height: 100%;
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 2vh;
}

#b1
{
    background-color: white;
    color: black;
    font-weight: bold;
    border-color: wheat;
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
    font-size: 2vh;
}

#b2
{
    background-color: white;
    color: black;
    font-weight: bold;
    border-color: wheat;
    width: 100%;
    height:100%;
    display: inline-block;
    text-align: center;
    font-size: 2vh;
}

#t1
{
    font-size: 3vh;
}